# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

#added git.zip to ignore the zip file created during git archive command
dist.zip
public/videos/*.mp4

# Public assets (ignore videos folder)
public/videos/*
public/wall_art/*
public/images/*
public/sounds/*
public/home vdos/*